<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reseteo de Clave - {{company}}</title>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
</style>
</head>


<body style=" font-family: 'Roboto', 'sans-serif'">
    <h1>Bienvenido a {{company}}</h1>
    <h2>¡Hola {{email}}! </h2>
    <img src="cid:bienvenida" alt="Ilustracion de bienvenida" style="    max-width: 100%;
    height: auto;    height: 500px;
    width: 100%;
    display: block;">
    <p>Acabas de registrarte con éxito al portal de {{company}}</p>
    <p>Haz click en el siguiente enlace para Iniciar sesión con tu usuario y comenzar a utilizar el portal de HR Connect</p>
    <a style=" color: #583c87;
        background-color: #ffc233;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    " href={{link}}>Comenzar</a>
     
</body>

</html>